global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: 'engine_binance_exporter'
    static_configs:
      - targets: ['engine_binance_exporter:8003']
        labels:
          role: 'exporter'

  - job_name: 'engine_binance_trader'
    static_configs:
      - targets: ['engine_binance:8003']
        labels:
          role: 'trader'

  - job_name: 'ops'
    static_configs:
      - targets: ['ops:8002']

  - job_name: 'screener'
    static_configs:
      - targets: ['screener:8010']
