global:
  scrape_interval: 5s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets: ["alertmanager:9093"]

rule_files:
  - rules/trading.rules.yml
  - rules/alerts.rules.yml
  - rules/binance_alerts.yml

scrape_configs:
- job_name: engines
  scrape_interval: 15s
  scrape_timeout: 10s
  static_configs:
  - targets:
      - hmm_engine_binance:8003
    labels:
      role: trader
      venue: binance
  - targets:
      - hmm_engine_binance_exporter:8003
    labels:
      role: exporter
      venue: binance
  relabel_configs:
  - source_labels: [__address__]
    regex: '([^:]+)(?::\d+)?'
    target_label: job
    replacement: '$1'

# Ops API metrics
- job_name: hmm_ops
  scrape_interval: 15s
  static_configs:
  - targets:
      - hmm_ops:8002

# Executor metrics
- job_name: hmm_executor
  scrape_interval: 15s
  static_configs:
  - targets:
      - hmm_executor:9102

- job_name: ml_service
  scrape_interval: 15s
  static_configs:
  - targets:
      - hmm_ml_service:8000
    labels:
      team: ml

- job_name: data_ingester
  scrape_interval: 30s
  static_configs:
  - targets:
      - hmm_data_ingester:8001
    labels:
      team: data

- job_name: param_controller
  scrape_interval: 30s
  static_configs:
  - targets:
      - hmm_param_controller:8002
    labels:
      team: ml
