repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
      args: ["--maxkb=25600"]
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-private-key
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.7
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.8.0
  hooks:
    - id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.11.2
  hooks:
    - id: mypy
      args: ["--install-types", "--non-interactive"]
      additional_dependencies:
        - types-requests==2.32.0.20241016
        - types-python-dateutil==2.9.0.20240906
        - pydantic==2.8.2
- repo: https://github.com/trailofbits/pip-audit
  rev: v2.7.3
  hooks:
    - id: pip-audit
      args: ["-r", "requirements.txt", "-r", "requirements-dev.txt"]
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.3.3
  hooks:
    - id: prettier
      files: ^frontend/
      additional_dependencies:
        - prettier@3.3.3
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v9.14.0
  hooks:
    - id: eslint
      files: ^frontend/src/.*\.(ts|tsx)$
      args: ["--max-warnings=0"]
      additional_dependencies:
        - eslint@9.14.0
        - "@typescript-eslint/parser@8.11.0"
        - "@typescript-eslint/eslint-plugin@8.11.0"
        - eslint-config-prettier@9.1.0
        - eslint-plugin-jsx-a11y@6.9.0
        - eslint-plugin-import@2.30.0
