repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
      args: ["--maxkb=25600"]
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-private-key
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.7
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.8.0
  hooks:
    - id: black
