repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
      args: ["--maxkb=25600"]
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-private-key
