global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'engine_binance'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['engine_binance:8003']

  - job_name: 'ops'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['ops:8002']
